<%- include('templates/header'); %>
    <link href="./../static/css/web.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="./../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="./../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <body>
        <!--////////////IMAGEN PRINCIPAL////////////////////-->
        <div class="hero" style="background-image: url('./../static/images/web.jpg');">
            <div class="imagen_hero">
            </div>
        </div>
        <br><br>
        <!-- Skill Start -->
        <div class="container-fluid py-5" id="skill">
            <div class="container">
                <div class="position-relative d-flex align-items-center justify-content-center">
                    <h1 class=" text-uppercase  titulo">Mis Habilidades</h1>
                </div>
                <div class="row align-items-center skills">
                    <div class="col-md-6">
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1">HTML</h6>
                                <h6 class="informacion1">95%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage1 html"></span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1">CSS</h6>
                                <h6 class="informacion1">75%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage2 css"></span>
                            </div>
                        </div>
                        <div class=" mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1">PHP</h6>
                                <h6 class="informacion1">20%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage3 php"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class=" mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1">Javascript</h6>
                                <h6 class="informacion1">10%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage4 javascript"></span>
                            </div>
                        </div>
                        <div class=" mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1">Java</h6>
                                <h6 class="informacion1">50%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage5 java"></span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1">Sql</h6>
                                <h6 class="informacion1">60%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage6 sql"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Skill End -->



        <!-- Portfolio Start -->
        <div class="container-fluid pt-5 pb-3" id="portfolio">
            <div class="container">
                <div class="position-relative d-flex align-items-center justify-content-center">
                    <h1 class=" text-uppercase titulo">Mi Portfolio</h1>
                </div>

                <div class="row portfolio-container">
                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                        <div class="position-relative overflow-hidden mb-2">
                            <img class="img-fluid rounded w-100" src="./../static/images/portfolio-1.jpg" alt="">
                            <div class="portfolio-btn bg-dark d-flex align-items-center justify-content-center">
                                <a href="" data-lightbox="portfolio">
                                    <i class="fa fa-plus text-white" style="font-size: 60px; "></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                        <div class="position-relative overflow-hidden mb-2">
                            <img class="img-fluid rounded w-100" src="./../static/images/portfolio-2.jpg" alt="">
                            <div class="portfolio-btn bg-dark d-flex align-items-center justify-content-center">
                                <a href="" data-lightbox="portfolio">
                                    <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item third">
                        <div class="position-relative overflow-hidden mb-2">
                            <img class="img-fluid rounded w-100" src="./../static/images/portfolio-3.jpg" alt="">
                            <div class="portfolio-btn bg-dark d-flex align-items-center justify-content-center">
                                <a href="" data-lightbox="portfolio">
                                    <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                        <div class="position-relative overflow-hidden mb-2">
                            <img class="img-fluid rounded w-100" src="./../static/images/portfolio-4.jpg" alt="">
                            <div class="portfolio-btn bg-dark d-flex align-items-center justify-content-center">
                                <a href="" data-lightbox="portfolio">
                                    <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                        <div class="position-relative overflow-hidden mb-2">
                            <img class="img-fluid rounded w-100" src="./../static/images/portfolio-5.jpg" alt="">
                            <div class="portfolio-btn bg-dark d-flex align-items-center justify-content-center">
                                <a href="" data-lightbox="portfolio">
                                    <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Portfolio End -->


        <%- include('templates/footer'); %>
    </body>

    </html>