<!--Template Header-->
<%- include('templates/header'); %>
<link href="./../static/css/web.css" rel="stylesheet">

<body>
    <!--Imagen Inicio-->
    <div class="hero" style="background-image: url('./../static/images/web.jpg');">
        <div class="imagen_hero"></div>
    </div>
    <br><br>

    <!--Habilidades-->
    <div class="container-fluid py-5 ">
        <div class="container  verticalLine">
            <div class="position-relative  align-items-center justify-content-center">
                <h1 class="titulo1"><b>Mis Habilidades</b></h1><br>
            </div>
            <div class="row align-items-center skills">
                <div class="col-md-6">
                    <div class="mb-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="informacion1"><img src="./../static/images/html-5.png">Html</h6>
                            <h6 class="informacion1">75%</h6>
                        </div>
                        <div class="progress-bar">
                            <span class="percentage1 html"></span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="informacion1"><img src="./../static/images/css-3.png">Css</h6>
                            <h6 class="informacion1">60%</h6>
                        </div>
                        <div class="progress-bar">
                            <span class="percentage2 css"></span>
                        </div>
                    </div>
                    <div class=" mb-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="informacion1"> <img src="./../static/images/php.png">Php</h6>
                            <h6 class="informacion1">30%</h6>
                        </div>
                        <div class="progress-bar">
                            <span class="percentage3 php"></span>
                        </div>
                    </div>
                    <div class=" mb-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="informacion1"><img src="./../static/images/js.png">Javascript</h6>
                            <h6 class="informacion1">40%</h6>
                        </div>
                        <div class="progress-bar">
                            <span class="percentage4 javascript"></span>
                        </div>
                    </div>
                        <div class=" mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1"><img src="./../static/images/boostrap.png">Boostrap</h6>
                                <h6 class="informacion1">60%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage5 boostrap"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class=" mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1"> <img src="./../static/images/java.png">Java</h6>
                                <h6 class="informacion1">50%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage6 java"></span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1"><img src="./../static/images/base-de-datos.png">Sql</h6>
                                <h6 class="informacion1">55%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage7 sql"></span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1"> <img src="./../static/images/git.png">Git</h6>
                                <h6 class="informacion1">70%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage8 git"></span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1"><img src="./../static/images/nodo-js.png">Node Js-Express</h6>
                                <h6 class="informacion1">25%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage9 node"></span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1"><img src="./../static/images/mongo.png">MongoDB</h6>
                                <h6 class="informacion1">20%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage10 mongo"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <hr><br>
    
    <!-- Fin de la sección habilidades  -->

    <!-- Senasoft -->
    <div class="container ">
        <div class="col-12 ">
            <h2 class="titulo1"><b>SenaSoft 2022</b></h2>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class=" pt-2 pl-4 ml-2">
                        <div class=" mb-4">
                            <p class="informacion1">SenaSoft es la competencia tecnológica más grande del Sena, y es toda una experiencia!
                                Tuve la oportunidad de participar el año pasado en la categoría <span class="palabra">Desarrollo Libre</span>
                                dirigida por la empresa <span class="palabra">Siigo,</span>
                                con mi compañero obtuvimos el puesto No.6 de 26 grupos, no fue nada fácil fueron 3
                                días de bastante estrés, pero de mucho aprendizaje,
                                me di cuenta lo mucho que me falta en este mundo de la programación y me animo mucho
                                más para continuar con esto que me apasiona,
                                además pudimos compartir diferentes personas del país,
                                definitivamente una de las mejores experiencias que he tenido en mi vida.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="./../static/images/sena1.jpg" width="500"/><br>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- Fin de la sección de Senasoft  -->

    <!-- Portafolio  -->
    <div class="container-fluid pt-5 pb-3">
        <div class="container verticalLine1">
            <div class=" align-items-center justify-content-center">
                <h1 class=" titulo2"><b>Mi Portfolio</b></h1><br>
            </div>
            <div class="row portfolio">
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid rounded w-100" src="./../static/images/portafolio.png" alt="">
                        <div class="portfolio-btn d-flex align-items-center ">
                            <div class="col-12">
                                <p class="portafolioo">Portafolio Personal con Node.js.</p><br>
                                <div class="col-12">
                                    <a href="https://github.com/Karen11Vargas/Portafolio_Karen-Vargas" target="_blank" rel="noopener noreferrer" class="learn-more-btn">Ver Más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid rounded w-20" src="./../static/images/calcular.png" alt="">
                        <div class="portfolio-btn d-flex align-items-center ">
                            <div class="col-12">
                                <p class="portafolioo">Ejercicio de Java con GUI / Formulario y Calculadora.</p><br>
                                <div class="col-12">
                                    <a href="https://github.com/Karen11Vargas/GUI" target="_blank" rel="noopener noreferrer" class="learn-more-btn">Ver Más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid rounded w-20" src="./../static/images/Cuestionario.jpg" alt="">
                        <div class="portfolio-btn d-flex align-items-center ">
                            <div class="col-12">
                                <p class="portafolioo">Ejercicio con Java Web Nativo.</p><br>
                                <div class="col-12">
                                    <a href="https://github.com/Karen11Vargas/EjerciciosJavaWeb" target="_blank" rel="noopener noreferrer" class="learn-more-btn">Ver Más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid rounded w-20" src="./../static/images/Correo.jpg" alt="">
                        <div class="portfolio-btn d-flex align-items-center ">
                            <div class="col-12">
                                <p class="portafolioo">Ejercicio de envío de correo con Java Mail.</p><br>
                                <div class="col-12">
                                    <a href="https://github.com/Karen11Vargas/JavaMail" target="_blank" rel="noopener noreferrer" class="learn-more-btn">Ver Más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid rounded w-20" src="./../static/images/Geometria.png" alt="">
                        <div class="portfolio-btn d-flex align-items-center ">
                            <div class="col-12">
                                <p class="portafolioo">Ejercicio funciones geométricas con JavaScritp.</p><br>
                                <div class="col-12">
                                    <a href="https://github.com/Karen11Vargas/Geometria" target="_blank" rel="noopener noreferrer" class="learn-more-btn">Ver Más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid rounded w-20" src="./../static/images/Api.png" alt="">
                        <div class="portfolio-btn d-flex align-items-center ">
                            <div class="col-12">
                                <p class="portafolioo">Api con Node js, MongoDB y Express.</p><br>
                                <div class="col-12">
                                    <a href="https://github.com/Karen11Vargas/Express" target="_blank" rel="noopener noreferrer" class="learn-more-btn">Ver Más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid rounded w-100" src="./../static/images/carross.png" alt="">
                        <div class="portfolio-btn d-flex align-items-center ">
                            <div class="col-12">
                                <p class="portafolioo">Sistema de Información para<br> la compra y venta de autos.</p><br>
                                <div class="col-12">
                                    <a href="https://github.com/Karen11Vargas/Concesionario" target="_blank" rel="noopener noreferrer" class="learn-more-btn">Ver Más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid rounded w-100" src="./../static/images/cartas.png" alt="">
                        <div class="portfolio-btn d-flex align-items-center ">
                            <div class="col-12">
                                <p class="portafolioo">Reto Senasoft 2022 / Juego de Cartas</p><br>
                                <div class="col-12">
                                    <a href="https://github.com/JhonCamargo07/Siigo-match-battle" target="_blank" rel="noopener noreferrer" class="learn-more-btn">Ver Más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid rounded w-100" src="./../static/images/plantilla.png" alt="">
                        <div class="portfolio-btn d-flex align-items-center ">
                            <div class="col-12">
                                <p class="portafolioo">Template con Html, Css, Boostrap - Dashboard/login/index.</p><br>
                                <div class="col-12">
                                    <a href="https://github.com/JhonCamargo07/template-senasoft/tree/developer" target="_blank" rel="noopener noreferrer" class="learn-more-btn">Ver Más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Final de la sección de Portalofio-->

    <!--Template Footer-->
    <%- include('templates/footer'); %>
</body>

