<!--Template Header-->
<%- include('templates/header'); %>
    <link href="./../static/css/web.css" rel="stylesheet">


    <body>
        <!--////////////IMAGEN PRINCIPAL////////////////////-->
        <div class="hero" style="background-image: url('./../static/images/galaxia.jpg');">
            <div class="imagen_hero">
            </div>
        </div>
        <br><br>

        <!-- ////// HABILIDADES /////// -->
        <div class="container-fluid py-5 ">
            <div class="container  verticalLine">
                <div class="position-relative  align-items-center justify-content-center">
                    <h1 class=" titulo1 "><b>Mis Habilidades</h1></b>
                </div>
                <div class="row align-items-center skills">
                    <div class="col-md-6">
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1"><img src="./../static/images/html-5.png">
                                    Html</h6>
                                <h6 class="informacion1">95%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage1 html"></span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1"> <img src="./../static/images/css-3.png">
                                    Css</h6>
                                <h6 class="informacion1">75%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage2 css"></span>
                            </div>
                        </div>
                        <div class=" mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1"> <img src="./../static/images/php.png">
                                    Php</h6>
                                <h6 class="informacion1">20%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage3 php"></span>
                            </div>
                        </div>
                        <div class=" mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1"><img src="./../static/images/js.png">
                                    Javascript</h6>
                                <h6 class="informacion1">10%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage4 javascript"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class=" mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1"> <img src="./../static/images/java.png">
                                    Java</h6>
                                <h6 class="informacion1">50%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage5 java"></span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1"><img src="./../static/images/base-de-datos.png">
                                    Sql</h6>
                                <h6 class="informacion1">60%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage6 sql"></span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1"> <img src="./../static/images/git.png">
                                    Git</h6>
                                <h6 class="informacion1">80%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage7 git"></span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="informacion1"><img src="./../static/images/nodo-js.png">
                                    Node Js</h6>
                                <h6 class="informacion1">20%</h6>
                            </div>
                            <div class="progress-bar">
                                <span class="percentage8 node"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <hr><br>
        <!-- Fin de la seccion de mis halidades  -->


        <!--////// COMPETENCIA ///////-->
        <div class="container ">
            <div class="col-12 ">
                <h2 class="titulo1"><b>SenaSoft 2022</h2></b>

                <div class="row align-items-center">
                    <div class="col-lg-6">

                        <div class=" pt-2 pl-4 ml-2">
                            <div class="position-relative mb-4">
                                <p class="informacion1">SenaSoft es la competencia técnologica mas grande del Sena, y es
                                    toda una experiencia!!
                                    tuve la oportunidad de participar este año en la categoria <b>Desarrollo Libre</b>
                                    dirigido por la empresa <u>Siigo,</u>
                                    con mi compañero obtuvimos el puesto No.6 de 26 grupos, no fue nada facil fueron 3
                                    dias de bastante estres pero de mucho aprendizaje,
                                    me di cuenta lo mucho que me falta en este mundo de la programación y me animo mucho
                                    mas para continuar con esto que me apasiona,
                                    ademas de competir pudimos compartir y aprender de diferentes chicos del pais,
                                    definitivamente una de las mejores experiencias que he teniado en mi vida.

                                <p class="informacion1">Si quieres saber del reto que tuvimos que realizar esta en la
                                    seccion de <b>Portafolio</b></p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <img src="./../static/images/sena1.jpg" width="500" /><br>

                    </div>
                </div>
            </div>
        </div>

        <br>
        <hr><br>
        <!-- Fin de la seccion de Competencia  -->


        <!-- /////////  PORTAFOLIO    ////////////// -->
        <div class="container-fluid pt-5 pb-3">
            <div class="container verticalLine1">
                <div class=" align-items-center justify-content-center">
                    <h1 class=" titulo2"><b>Mi Portfolio</h1></b>
                </div>

                <div class="row portfolio">
                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                        <div class="position-relative overflow-hidden mb-2">
                            <img class="img-fluid rounded w-100" src="./../static/images/java.gif" alt="">
                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                <a href="" data-lightbox="portfolio">
                                    <i class="fa fa-plus text-white" style="font-size: 60px; "></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                        <div class="position-relative overflow-hidden mb-2">
                            <img class="img-fluid rounded w-100" src="./../static/images/juego.gif" alt="">
                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                <a href="" data-lightbox="portfolio">
                                    <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item third">
                        <div class="position-relative overflow-hidden mb-2">
                            <img class="img-fluid rounded w-100" src="./../static/images/banco.gif" alt="">
                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                <a href="" data-lightbox="portfolio">
                                    <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                        <div class="position-relative overflow-hidden mb-2">
                            <img class="img-fluid rounded w-100" src="./../static/images/plantilla.gif" alt="">
                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                <a href="" data-lightbox="portfolio">
                                    <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                        <div class="position-relative overflow-hidden mb-2">
                            <img class="img-fluid rounded w-100" src="./../static/images/gui.gif" alt="">
                            <div class="portfolio-btn  d-flex align-items-center justify-content-center">
                                <a href="" data-lightbox="portfolio">
                                    <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                        <div class="position-relative overflow-hidden mb-2">
                            <img class="img-fluid rounded w-100" src="./../static/images/node.gif" alt="">
                            <div class="portfolio-btn  d-flex align-items-center justify-content-center">
                                <a href="" data-lightbox="portfolio">
                                    <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Final de la seccion de Portalofio-->

        <!--Template Footer-->
        <%- include('templates/footer'); %>
    </body>

    </html>