<%- include('templates/header'); %>
<link rel="stylesheet" href="./../static/css/educacion.css">

<body>
    
  <!--////////////IMAGEN PRINCIPAL////////////////////-->
  <div class="hero" style="background-image: url('./../static/images/1.png');">
    <div class="imagen_hero">
      <h1><span class="color">Educación</span></h1>
    </div>
  </div>
  <br><br>

  <div class="container ">
    <div class="col-12 ">
    
      <div class="row align-items-center">
          <div class="col-lg-6">

              <div class=" pt-2 pl-4 ml-2">
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1 informacion1"> <span class="icon-educacion"></span>Técnologo Analisis y Desarrollo de Sistemas de Información</h5>
                  <p class="informacion1"><strong>Sena</strong> | <small>feb 2022- presente</small></p>
                  </div>
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1  informacion1"><span class="icon-educacion"></span>Técnico en programación de Software</h5>
                      <p class="informacion1"><strong>Sena</strong> | <small>2020- 2021</small></p>
                  </div>
                 
              </div>
          </div>
          <div class="col-lg-6">
              
              <div class=" pt-2 pl-4 ml-2">
                <div class="position-relative mb-4">
                  <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                  <h5 class="font-weight-bold mb-1 informacion1"><span class="icon-educacion"></span>Bachiller Técnico Industrial</h5>
                  <p class="informacion1"><strong>Instituto Técnico Industrial Piloto</strong> | <small>2021</small></p>
              </div>
              <div class="position-relative mb-4">
                <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                <h5 class="font-weight-bold mb-1 informacion1"><span class="icon-educacion"></span>Fundamentos en Programación</h5>
                <p class="informacion1"><strong>Mintic</strong> | <small>2021 (64 horas)</small></p>
            </div>
              </div>
          </div>
        </div>
      </div>
  </div>
    <%- include('templates/footer'); %>
</body>
</html>