<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

  <link rel="stylesheet" href="./../static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="./../static/css/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./../static/css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="./../static/css/style.css">

  <!--Iconos redes sociales-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--Logo-->
  <link rel="shortcut icon" type="image/x-icon" href="./../static/images/logo.png">


  <title>Karen Vargas - Pagina Web</title>
</head>

<body>

  <!--////////////divs para la clase de menu////-->
  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <!--//////////////HEADER/////////////////////-->
  <header class="site-navbar js-sticky-header site-navbar-target" role="banner">
    <div class="container">
      <div class="row align-items-center position-relative">
        <div class="site-logo">
          <a href="#" class="text-black"><img src="./../static/images/logo.png" width="180">
            <!--Logo-->
        </div>

        <div class="col-12">
          <nav class="site-navigation text-right ml-auto " role="navigation">
            <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
              <li><a href="" class="nav-link"><B><span class="icon-flor"></span>Sobre Mi</B></a></li>
              <li><a href="./educacion" class="nav-link"><B><span class="icon-dado"></span>Educación</B></a></span></li>
              <li><a href="./carrera" class="nav-link"><b><span class="icon-tel"></span>Carrera</b></a></li>
              <li><a href="./pasatiempos" class="nav-link"><b><span class="icon-tel"></span>Pasatiempos</b></a></li>
              <li><a href="" class="nav-link"><b><span class="icon-tel"></span>Contacto</b></a></li>

            </ul>
          </nav>
        </div>
        <div class="toggle-button d-inline-block d-lg-none"><a href="#"
            class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
        <!--iconno de menu-->
      </div>
    </div>
  </header>

  <!--////////////IMAGEN PRINCIPAL////////////////////-->
  <div class="hero" style="background-image: url('./../static/images/2.png');">
    <div class="imagen_hero">
      <h1><span class="color">Bienvenidos</span></h1>
    </div>
  </div>
  <br><br>
  <!--//////INFORMACION SOBRE MI ////////-->

  <section class="main container verticalLine">
    <div class="col-4">
      <h2 class="titulo"><b>Sobre mi</h2></b>
    </div>
    <div class="col-10 ">
      <p class="informacion "><img class="foto" src="./../static/images/perfil2.jpg"><br><br>
        Hola!, soy Karen Vargas una adolcente de 16 años,
        que le encanta estudiar y aprender cosas nuevas,
        soy una persona tranquila que le gusta leer (AMO la lietratura)
        y la programación, me gusta hacer actividad fisica,
        ya sea montar cicla, la natacion o solamente saltar laso.
      </p>
      <p class="informacion"><img class="foto" src="./../static/images/perfil.jpg">
        Entre otros gustos tambien estan: escuchar musica,
        pasar tiempo <br>con mi familia y mis amigos, salir,
        conocer lugares, viajar, en fin...en general soy una
        chica muy activa que le gusta lo que esta estudiando<br> y
        trata cada dia de ser mejor.
      </p>
    </div>
    <br><br><br><br><br>
  </section>
  <br><br><br>

  <!--//////CONTACTO////////////////-->

  <div class="container verticalLine1">
    <div class="col-12">
      <h1 class="formulario_titulo"><b>Contacto</b></h1>
    </div>
    <img class="foto_form" src="./../static/images/contacto2.png">
    <div class="col-8">
      <form action="https://formspree.io/f/mdobqgnb" method="POST">
      <label class="form_titulo">Correo Electronico </label>
        <input type="email" name="email" placeholder="Escribe tu correo" required><br>
      <label class="form_titulo">Mensaje</label><br>
        <textarea name="message" placeholder="Deja tu mensaje aqui" required></textarea><br>
      <button type="submit">Enviar</button>
      </form>
    </div>

  
  </div>
 
  <br><br>
  <!--//////FOOTER///////-->


  <footer>
    <div class="w3hubs-footer">
      <div class="w3hubs-icon">
        <ul>
          <li><a href="https://www.facebook.com/profile.php?id=100004933026714" target="black"><i
                class="fa fa-facebook "></i></a></li>
          <li><a href="https://www.instagram.com/kalivargas11/" target="black"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://twitter.com/KaliVargas3" target="black"><i class="fa fa-twitter"></i></a></li>
          <li><a href="" target="black"><i class="fa fa-github"></i></a></li>
          <li><a href="https://open.spotify.com/user/tgc7b789kq1f8ithpprfj4eli?si=76c9419c53ae4ebe" target="black"><i class="fa fa-spotify"></i></a></li>
        </ul>
      </div>
      <div class="w3hubs-nav">
        <ul>
          <li><a href="index.html">Sobre mi</a></li>
          <li><a href="#">Blog Personal</a></li>
          <p class="copyright">Karen Vargas © 2022</p>
        </ul>
      </div>
    </div>
  </footer>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/main.js"></script>
</body>

</html>