<!--Template Header-->
<%- include('templates/header'); %>
<link href="./../static/css/pasatiempos.css" rel="stylesheet">

<body>

    <!--Imagen Principal-->
    <div class="hero" style="background-image: url('./../static/images/libro.jpg');">
        <div class="imagen_hero">
        </div>
    </div>
    <br><br>

    <!-- Literatura -->
    <section class="main container ">
        <div class="col-12">
            <h2 class="titulo"><b>Literatura</b></h2>
        </div><br>
        <div class="col-10">
            <p class="informacion"><img class="fotoo" src="./../static/images/book.jpg">
                La literatura ha sido uno de mis pasatiempos favoritos desde pequeña,
                mi papá siempre nos involucró este hábito y le agradezco mucho a él,
                desde la pandemia empece a leer más, aprender y disfrutar de cada lectura,
                explore varios géneros literarios diferentes, pero mis géneros favoritos son:<br>
            </p>
            <p class="informacion" style="font-weight: bold;"> 
                <span class="icon-lupa"></span> Suspenso
                <span class="icon-corazon"></span></span> Romance 
                <span class="icon-mundo"></span> Historias de la vida real
            </p>
        </div>
        <br><br>
        <hr><br>
    </section>

    <!--Libros favoritos-->
    <div class="container-fluid pt-5" id="service">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="position-absolute titulo"><b>Mis Libros Favoritos</b></h1>
            </div><br><br>
            <div class="container-fluid pt-5 pb-3">
                <div class="container verticalLine1">
                    <div class="row libros">
                        <div class="col-lg-4 col-md-6 mb-4 libros-item first">
                            <div class="position-relative overflow-hidden mb-2">
                                <img class="img-fluid rounded w-100" src="./../static/images/psicoanalista.png" alt="">
                                <div class="libros-btn d-flex align-items-center ">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center justify-content-center mb-3">
                                            <h4 class="font-weight-bold m-0 titleBooks"><u>El Psicoanalista</u></h4><br>
                                        </div>
                                        <h3 class="books" style="font-weight: bold;">Autor:</h3><p class="books">Jhon Katzenback</p>
                                        <h3 class="books" style="font-weight: bold;">Género:</h3><p class="books">Thriller, Suspenso, Novela psicológica</p>
                                        <h3 class="books" style="font-weight: bold;">Calificación:</h3><p class="books">⭐⭐⭐⭐⭐</p>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-lg-4 col-md-6 mb-4 libros-item first">
                            <div class="position-relative overflow-hidden mb-2">
                                <img class="img-fluid rounded w-100" src="./../static/images/jaque.png" alt="">
                                <div class="libros-btn d-flex align-items-center ">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center justify-content-center mb-3">
                                            <h4 class="font-weight-bold m-0 titleBooks"><u>Jaque al Psicoanalista</u></h4><br>
                                        </div>
                                        <h3 class="books" style="font-weight: bold;">Autor:</h3><p class="books">Jhon Katzenback</p>
                                        <h3 class="books" style="font-weight: bold;">Género:</h3><p class="books">Thriller, Suspenso, Novela psicológica</p>
                                        <h3 class="books" style="font-weight: bold;">Calificación:</h3><p class="books">⭐⭐⭐⭐⭐</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb-4 libros-item first">
                            <div class="position-relative overflow-hidden mb-2">
                                <img class="img-fluid rounded w-100" src="./../static/images/boulevard.png" alt="">
                                <div class="libros-btn d-flex align-items-center ">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center justify-content-center mb-3">
                                            <h4 class="font-weight-bold m-0 titleBooks"><u>Boulevard</u></h4><br>
                                        </div>
                                        <h3 class="books" style="font-weight: bold;">Autor:</h3><p class="books">Flor M.Salvador</p>
                                        <h3 class="books" style="font-weight: bold;">Género:</h3><p class="books">Romance, Ficción Juvenil</p>
                                        <h3 class="books" style="font-weight: bold;">Calificación:</h3><p class="books">⭐⭐⭐⭐</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb-4 libros-item first">
                            <div class="position-relative overflow-hidden mb-2">
                                <img class="img-fluid rounded w-100" src="./../static/images/tierra.png" alt="">
                                <div class="libros-btn d-flex align-items-center ">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center justify-content-center mb-3">
                                            <h4 class="font-weight-bold m-0 titleBooks"><u>La Nueva Tierra</u></h4><br>
                                        </div>
                                        <h3 class="books" style="font-weight: bold;">Autor:</h3><p class="books">Jordi Sierra i Fabra</p>
                                        <h3 class="books" style="font-weight: bold;">Género:</h3><p class="books">Novela, Historia, Romance</p>
                                        <h3 class="books" style="font-weight: bold;">Calificación:</h3><p class="books">⭐⭐⭐⭐⭐</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb-4 libros-item first">
                            <div class="position-relative overflow-hidden mb-2">
                                <img class="img-fluid rounded w-100" src="./../static/images/zurich.png" alt="">
                                <div class="libros-btn d-flex align-items-center ">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center justify-content-center mb-3">
                                            <h4 class="font-weight-bold m-0 titleBooks"><u>El último tren a Zurich</u></h4><br>
                                        </div>
                                        <h3 class="books" style="font-weight: bold;">Autor:</h3><p class="books">Cesar Vidal</p>
                                        <h3 class="books" style="font-weight: bold;">Género:</h3><p class="books">Narrativa, Aventura, Historia</p>
                                        <h3 class="books" style="font-weight: bold;">Calificación:</h3><p class="books">⭐⭐⭐⭐⭐</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb-4 libros-item first">
                            <div class="position-relative overflow-hidden mb-2">
                                <img class="img-fluid rounded w-100" src="./../static/images/malala.png" alt="">
                                <div class="libros-btn d-flex align-items-center ">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center justify-content-center mb-3">
                                            <h4 class="font-weight-bold m-0 titleBooks"><u>Yo soy Malala</u></h4><br>
                                        </div>
                                        <h3 class="books" style="font-weight: bold;">Autor:</h3><p class="books">Malala Yousafzai</p>
                                        <h3 class="books" style="font-weight: bold;">Género:</h3><p class="books">Biografía, Política</p>
                                        <h3 class="books" style="font-weight: bold;">Calificación:</h3><p class="books">⭐⭐⭐⭐⭐</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Template Flooter-->
    <%- include('templates/footer'); %>
</body>
