<%- include('templates/header'); %>
    <link href="./../static/css/pasatiempos.css" rel="stylesheet">

    <body>
        <!--////////////IMAGEN PRINCIPAL////////////////////-->
        <div class="hero" style="background-image: url('./../static/images/libros.jpg');">
            <div class="imagen_hero">
            </div>
        </div>
        <br><br>

        <!--//////INFORMACION SOBRE MI ////////-->
        <section class="main container ">
            <div class="col-12">
                <h2 class="titulo "><b>Literatura</h2></b>
            </div><br>
            <div class="col-10">
                <p class="informacion "><img class="fotoo" src="./../static/images/book.jpg">
                    La literatura ha sido uno de mis pasatiempos favoritos desde pequeña,
                    mi papá siempre nos involucró este hábito y le agradezco mucho a él,
                    desde la pandemia empece a leer más y aprender y disfrutar de cada lectura,
                    explore varios géneros literarios diferentes y mis géneros favoritos son<br>
                    <span class="icon-libros"></span>Romance</li><br>
                    <span class="icon-libros"></span>Suspenso</li><br>
                    <span class="icon-libros"></span>Historias de la vida real</li>

                </p>
            </div>
            <br><br>
            <hr><br>
        </section>


        <div class="container-fluid pt-5" id="service">
            <div class="container">
                <div class="position-relative d-flex align-items-center justify-content-center">
                    <h1 class="position-absolute  titulo">Mis Libros Favoritos</h1>
                </div><br><br>
                <div class="row pb-3">
                    <div class="col-lg-4 col-md-6 text-center mb-5 border p-3">
                        <div class="d-flex align-items-center justify-content-center mb-4">
                            <i class=" bg-primary text-white mr-3"></i>
                            <h4 class="font-weight-bold m-0 informacion">El Psicoanalista</h4><br>

                        </div>


                        <p class="informacion1">Un libro de suspenso e intriga que invita a deslizarse entre sus
                            páginas, con una atmosfera oscura y psicológica. Una historia que nos deja ver a un
                            psicópata resentido, decidido a vengarse, perseguido por los fantasmas de su pasado.</p>
                        <a class="border-bottom  text-decoration-none learn-more-btn " href="https://www.panamericana.com.co/el-psicoanalista-545349/p">Leer Más</a>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center mb-5 border p-3">
                        <div class="d-flex align-items-center justify-content-center mb-4">
                            <i class="bg-primary text-white mr-3"></i>
                            <h4 class="font-weight-bold m-0 informacion">El juego de Ripper </h4>
                        </div>
                        <p class="informacion1">Tal como predijo la astróloga más reputada de San Francisco, 
                            una oleada de crímenes comienza a sacudir la ciudad. En la investigación sobre los asesinatos,
                            el inspector Bob Martín recibirá la ayuda inesperada de un grupo de internautas especializados 
                            en juegos de rol, Ripper.</p>
                        <a class="border-bottom  text-decoration-none learn-more-btn" href="https://www.panamericana.com.co/el-juego-de-ripper-621023/p">Leer Más</a>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center mb-5 border p-3">
                        <div class="d-flex align-items-center justify-content-center mb-4">
                            <i class="bg-primary text-white mr-3"></i>
                            <h4 class="font-weight-bold m-0 informacion">Ultimo tren a Zurich</h4>
                        </div>
                        <p class="informacion1">En su primer día en la ciudad asiste aterrorizado a un episodio 
                            de violencia protagonizado por los camisas pardas y conoce a Kart Lebendig, 
                            un poeta con el que trabará amistad. 
                            Eric descubrirá, igualmente, el amor de Rose y, sin proponérselo, despertará a una
                             vida nueva y totalmente distinta a todo lo que hubiera podido imaginar. </p>
                        <a class="border-bottom  text-decoration-none learn-more-btn" href="https://www.amazon.com/-/es/C%C3%A9sar-Vidal/dp/8491220658">Leer Más</a>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center mb-5 border p-3">
                        <div class="d-flex align-items-center justify-content-center mb-4">
                            <i class="bg-primary text-white mr-3"></i>
                            <h4 class="font-weight-bold m-0 informacion">Boolevard</h4>
                        </div>
                        <p class="informacion1">Una historia en donde dos adolescentes crean su propio Boulevard 
                            ante la llovizna que hay en sus corazones, con un cielo pintado de azul cálido en una parte 
                            y otra de un azul eléctrico, tiñéndose este por completo de un grisáceo nostálgico.</p>
                        <a class="border-bottom  text-decoration-none learn-more-btn " href="https://www.panamericana.com.co/boulevard-1-la-version-de-flor-634801/p">Leer Más</a>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center mb-5  border p-3">
                        <div class="d-flex align-items-center justify-content-center mb-4">
                            <i class=" bg-primary text-white mr-3"></i>
                            <h4 class="font-weight-bold m-0 informacion">Malala</h4>
                        </div>
                        <p class="informacion1">La poderosa historia de Malala nos abre los ojos a otro mundo 
                            y nos impulsa a creer en la esperanza, la verdad, los milagros y la posibilidad 
                            de que una persona —una persona muy joven— puede inspirar el cambio en su comunidad y más allá.</p>
                        <a class="border-bottom  text-decoration-none learn-more-btn" href="https://www.panamericana.com.co/malala-mi-historia/p">Leer Más</a>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center mb-5 border p-3 ">
                        <div class="d-flex align-items-center justify-content-center mb-4">
                            <i class=" bg-primary text-white mr-3"></i>
                            <h4 class="font-weight-bold m-0 informacion">Retrato de Dorian Gray</h4>
                        </div>
                        <p class="informacion1">En este maravilloso relato, agudo y siniestro el curso de
                             la naturaleza humana es implacable como el tiempo, e ir contra ellos puede costar la vida.
                             El tema de encontrar la eterna juventud a cambio de ceder el alma al diablo,
                            o al espíritu del mal, lo hallamos también en Fausto de Goethe.</p>
                        <a class="border-bottom  text-decoration-none learn-more-btn" href="https://www.panamericana.com.co/el-retrato-de-dorian-gray-3/p">Leer Más</a>
                    </div>
                </div>
            </div>
        </div>

        <%- include('templates/footer'); %>


    </body>

    </html>