<%- include('templates/header'); %>
<link href="./../static/css/pasatiempos.css" rel="stylesheet">

<body>
   <!--////////////IMAGEN PRINCIPAL////////////////////-->
   <div class="hero" style="background-image: url('./../static/images/libros.jpg');">
    <div class="imagen_hero">
    </div>
</div>
<br><br>

 <!--//////INFORMACION SOBRE MI ////////-->
 <section class="main container ">
    <div class="col-12">
      <h2 class="titulo "><b>Literatura</h2></b>
    </div><br>
    <div class="col-10">
      <p class="informacion "><img class="fotoo" src="./../static/images/book.jpg">
        La lietratura ha sido uno de mis pasatiempos favoritos desde pequeña, 
        mi papa siempre nos involucro este habito y le agradezco mucho a él,
        desde la pandemia empece a leer mas y aprender y disfrutar de cada lectura, 
        explore varios generos lietrarios diferentes y mis generos favoritos son:<br>
        <span class="icon-libros"></span>Romance</li><br>
        <span class="icon-libros"></span>Suspenso</li><br>
        <span class="icon-libros"></span>Historias de la vida real</li>

      </p>
    </div>
    <br><br>  <hr><br>
  </section>
  

  <div class="container-fluid pt-5" id="service">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="position-absolute  titulo">Mis Libros Favoritos</h1>
        </div><br><br>
        <div class="row pb-3">
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <i class=" bg-primary text-white mr-3"></i>
                    <h4 class="font-weight-bold m-0 informacion">El Psicoanalista</h4><br>

                </div>
   

                <p class="informacion1">Un libro de suspenso e intriga que invita a deslizarse entre sus páginas, con una atmosfera oscura y psicológica. Una historia que nos deja ver a un psicópata resentido, decidido a vengarse, perseguido por los fantasmas de su pasado.</p>
                <a class="border-bottom  text-decoration-none learn-more-btn " href="">Read More</a>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <i class="bg-primary text-white mr-3"></i>
                    <h4 class="font-weight-bold m-0 informacion">Los Juegos de Ripper</h4>
                </div>
                <p class="informacion1">Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem est amet labore eirmod erat clita</p>
                <a class="border-bottom  text-decoration-none learn-more-btn" href="">Read More</a>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <i class="bg-primary text-white mr-3"></i>
                    <h4 class="font-weight-bold m-0 informacion">Ultimo tren a Zurich</h4>
                </div>
                <p class="informacion1">Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem est amet labore eirmod erat clita</p>
                <a class="border-bottom  text-decoration-none learn-more-btn" href="">Read More</a>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <i class="bg-primary text-white mr-3"></i>
                    <h4 class="font-weight-bold m-0 informacion">Boolevard</h4>
                </div>
                <p class="informacion1">Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem est amet labore eirmod erat clita</p>
                <a class="border-bottom  text-decoration-none learn-more-btn "  href="">Read More</a>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <i class=" bg-primary text-white mr-3"></i>
                    <h4 class="font-weight-bold m-0 informacion">Malala</h4>
                </div>
                <p class="informacion1">Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem est amet labore eirmod erat clita</p>
                <a class="border-bottom  text-decoration-none learn-more-btn" href="">Read More</a>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <i class=" bg-primary text-white mr-3"></i>
                    <h4 class="font-weight-bold m-0 informacion">Retrato de Dorian Gray</h4>
                </div>
                <p class="informacion1">Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem est amet labore eirmod erat clita</p>
                <a class="border-bottom  text-decoration-none learn-more-btn" href="">Read More</a>
            </div>
        </div>
    </div>
</div>

    <%- include('templates/footer'); %>


</body>
</html>