@font-face {
  font-family: FuenteParrafo;
  src: url(../fonts/Please\ write\ me\ a\ song.ttf);
}


/* BODY */
body {
  font-family: FuenteParrafo;
  background-color: rgb(255, 255, 255);
  height: 200vh;
  position: relative;
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

body.offcanvas-menu:before {
  opacity: 1;
  z-index: 1002;
  visibility: visible;
}


p {
  color: #a19a9a;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: FuenteParrafo;

}

/*LINKS*/
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  font-size: 150%;
}

a,
a:hover {
  text-decoration: none !important;
}

/*FOTO PRINCIPAL*/
.hero {
  height: 40vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.imagen_hero h1 {

  font-size: 400%;
  text-align: center;
  padding: 90px;
  color: #725e5e;
}



.top-bar {
  padding: .10rem 0;
  background: #eee;
}

.top-bar a {
  color: #666666;
}

/*BARRA DE NAVEGACION */
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  width: 100%;
  padding: 1rem;
}

@media (max-width: 991.98px) {
  .site-navbar {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.site-navbar .toggle-button {
  position: absolute;
  right: 0px;
}

.site-navbar .site-logo {
  position: absolute;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 0;
  margin: 0;
  padding: 0;
  z-index: 6;
}

@media (max-width: 991.98px) {
  .site-navbar .site-logo {
    float: left;
    position: relative;
  }
}

.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid rgb(219, 201, 201) !important;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active {
  color: #706155 !important;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}

.site-navbar .site-navigation .site-menu>li {
  display: inline-block;
}

.site-navbar .site-navigation .site-menu>li>a {
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 0px;
  color: #000 !important;
  display: inline-block;
  text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
  color: #e5dcc2;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.site-navbar .site-navigation .site-menu .has-children>a {
  position: relative;
  padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children>a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  /*MENU DESPREGABLE*/
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 4px solid #d8c4aa;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  display: none;
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: rgb(226, 202, 202);
  border-width: 10px;
  margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #000 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
  color: #ac9079 !important;
  background: #f8f9fa;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
  padding: 9px 20px;
  display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
  background: #f8f9fa;
  color: #d6c096;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before {
  content: "\e315";
  right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
  left: 100%;
  top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a {
  background: #f8f9fa;
  color: #ced4da;
}

.site-navbar .site-navigation .site-menu .has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children:focus>a,
.site-navbar .site-navigation .site-menu .has-children:active>a {
  color: #dbc1b4;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}


/*MENU EN PANTALLAS PEQUEÑAS*/
.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: rgb(241, 237, 237);
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #5f5f5f;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #dac6c6;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li .nav-link.active {
  color: #ffffff;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #e4d3d3;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap>li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
  padding-left: 20px;
  font-size: 20px;
}

.site-mobile-menu .site-nav-wrap>li>ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
  padding-left: 40px;
  font-size: 16px;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
  font-size: 16px;
  padding-left: 60px;
}


.sticky-wrapper {
  position: relative;
  z-index: 100;
  width: 100%;
}

.sticky-wrapper .site-navbar {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.sticky-wrapper .site-navbar {
  background: #fff;
}

.sticky-wrapper .site-navbar .site-logo a {
  color: #fff;
}

.sticky-wrapper .site-navbar ul li a {
  color: rgba(255, 255, 255, 0.7) !important;
}

.sticky-wrapper .site-navbar ul li a.active {
  color: #fff !important;
}

.sticky-wrapper.is-sticky .site-navbar {
  background: #fff;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}

.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #e0d0bb;
}

.sticky-wrapper.is-sticky .site-navbar ul li a {
  color: #000 !important;
}

.sticky-wrapper.is-sticky .site-navbar ul li a.active {
  color: #e0d0bb !important;
}

/*------SOBRE MI -----------------*/
@font-face {
  font-family: informacion;
  src: url(../fonts/Louis\ George\ Cafe.ttf);
}

.titulo {
  font-family: FuenteParrafo;
  text-align: left;
  color: #725e5e;
  font-size: 60px;
  margin-left: 25PX;

}

.titulo:hover {
  text-decoration: underline wavy rgb(209, 190, 190) 7%;
}

.informacion {
  font-family: informacion;
  color: #000000;
  text-align: left;
  font-size: 22px;
  margin-left: 35px;
}

.informacion1{
  font-family: informacion;
  color: #252525;
}


.foto {
  float: right;
  width: 200px;
  height: 230px;
  border-radius: 100px;
  margin-right: -3.5%;
  padding-right: 11px;
}

.foto:hover {
  background: rgb(209, 190, 190);
  cursor: pointer;
    transform: scale(1.1);


}

.verticalLine {
  border-left: thick solid rgb(209, 190, 190);
}

/*-----CONTACTO ---------*/

.verticalLine1{
  border-right: thick solid rgb(209, 190, 190);

}

hr {
  height: 2px;
  width: 75%;
  
  background-color: rgb(209, 190, 190);
}

.formulario_titulo{
  font-family: FuenteParrafo;
  text-align: right;
  color: #725e5e;
  font-size: 60px;
  margin-right: 36px;
  
}

.formulario_titulo:hover{
  text-decoration: underline wavy rgb(209, 190, 190) 7%;
}

/*---FORMUALRIO-----*/

form{
  margin: 30px;
}

.form_titulo{
  font-size: 30px;
}


.foto_form{
  width: 370px;
  height: 370px;
  float: right;
  margin-right: 36px;
 }

form input, form textarea{
  margin-bottom: 10px;
  width: 515px;
  font-family: informacion;
  padding: 10px;
  color: #666052; 
  font-size: 1em;
}



form button {
	display: block;
	background-color: rgb(209, 190, 190);
	padding: 10px 45px 10px 45px;
	border: 0;
	font-size: em; 
	color: 	white;
  font-family: informacion;
}
form button:hover{
	background-color:rgb(180, 177, 177);
}
form textarea { 
  height: 140px;
   resize:none;
  }

/*FOOTER */

.w3hubs-footer {
  /* color fonfo footer*/
  width: 100%;
  height: auto;
  margin: auto;
  background: #ececec;
  padding: 20px 0px;

}

/*Iconos redes sociales */
.w3hubs-icon {
  width: 100%;
  height: auto;
  margin: auto;
}

.w3hubs-icon ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.w3hubs-icon ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background: #ffffff;
}

.w3hubs-icon ul li a {
  text-decoration: none;
  color: #d3cccc;
  font-size: 25px;
  display: block;
}

.w3hubs-icon ul li a i {
  line-height: 50px;
}

.w3hubs-icon- ul li:hover {
  background: #725e5e;
}

.w3hubs-icon ul li a:hover>i {
  transform: scale(1.4);
}

/* texto */



.w3hubs-nav {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 25px;
}

.w3hubs-nav ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.w3hubs-nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

.w3hubs-nav ul li a {
  text-decoration: none;
  outline: none;
  font-family: FuenteParrafo;

  font-size: 20px;
  color: #757575;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.w3hubs-nav ul li a:hover {
  color: #d3cccc;
}
.w3hubs-nav ul li {
  margin: 5px 20px;
}

.w3hubs-nav ul li.p1 {
  padding-top: 10px;
}

@media(max-width:380px) {

  .w3hubs-nav ul li,
  .w3hubs-nav1 ul li {
    display: block;
    padding: 5px;
  }

  .w3hubs-nav2 ul li {
    display: none;
  }

  .w3hubs-icon ul li a i {
    line-height: 38px;
  }

  .w3hubs-icon ul li a {
    font-size: 20px;
  }

  .w3hubs-icon ul li {
    width: 40px;
    height: 40px;
  }
}

@media(max-width: 375px) {
  .w3hubs-nav ul li.p1 {
    padding-top: 0px;
  }
}

/*ICONOS */

.icon-flor:before {
  content: "\1f33c";
}
.icon-dado:before {
  content: "\1f3b2";
}
.icon-educacion:before {
  content: "\1f393";
}

.icon-tel:before {
  content: "\1f4de";
}

.icon-computador:before {
  content: "\1f4bb";
}

