/* ----- TITULOS Y PARRAFOS */


.titulo1 {
  font-family: FuenteParrafo;
  color: #000000;
  font-size: 50px;
  position: left;
  margin-left: 20px;
}

.titulo2 {
  font-family: FuenteParrafo;
  color: #000000;
  font-size: 50px;
  text-align: right;
  margin-right: 30px;
}

.informacion {
  font-family: informacion;
  color: #000000;
  text-align: left;
  font-size: 22px;
  margin-left: 35px;
}

.informacion1 {
  font-family: informacion;
  color: #252525;
}

/* ------ ESTILOS SECCION PORTAFOLIO  ------ */
.portfolio-item .portfolio-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  opacity: 0;
  transition: .5s;

}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  top: 30px;
  left: 30px;
  background-color: #BCA3AC;
}

.portfolio {
  margin-right: 8px;
}



/* -------- ESTILOS HABILIDADES-------*/
.progress-bar {
  display: flex;
  height: 1rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;


}

.percentage1 {
  display: block;
  height: 100%;
  background-color: #AAC9CE;
  border-radius: 5px;
  animation: progress 1500ms ease-in 1;
}

.percentage2 {
  display: block;
  height: 100%;
  background-color: #B6B4C2;
  border-radius: 5px;
  animation: progress 1500ms ease-in 1;
}

.percentage3 {
  display: block;
  height: 100%;
  background-color: #C9BBC8;
  border-radius: 5px;
  animation: progress 1500ms ease-in 1;
}

.percentage4 {
  display: block;
  height: 100%;
  background-color: #E5C1CD;
  border-radius: 5px;
  animation: progress 1500ms ease-in 1;
}

.percentage5 {
  display: block;
  height: 100%;
  background-color: #F3DBCF;
  border-radius: 5px;
  animation: progress 1500ms ease-in 1;
}

.percentage6 {
  display: block;
  height: 100%;
  background-color: #BCA3AC;
  border-radius: 5px;
  animation: progress 1500ms ease-in 1;
}

.percentage7 {
  display: block;
  height: 100%;
  background-color: #A5A58D;
  border-radius: 5px;
  animation: progress 1500ms ease-in 1;
}

.percentage8 {
  display: block;
  height: 100%;
  background-color: #CB997E;
  border-radius: 5px;
  animation: progress 1500ms ease-in 1;
}

/* Assigning width of each languages*/
.html {
  width: 95%;
}

.css {
  width: 70%;
}

.php {
  width: 20%;
}

.javascript {
  width: 15%;
}

.java {
  width: 55%;
}

.sql {
  width: 65%;
}

.git {
  width: 80%;
}


.node {
  width: 20%;
}

@keyframes progress {
  from {
    width: 0;
  }
}


.skills {
  margin-left: 8px;
}