<!--//////FOOTER///////-->
<footer>
    <div class="w3hubs-footer">
        <div class="w3hubs-icon">
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=100004933026714" target="black"><i class="fa fa-facebook "></i></a></li>
                <li><a href="https://www.instagram.com/kalivargas11/" target="black"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/KaliVargas3" target="black"><i class="fa fa-twitter"></i></a></li>
                <li><a href="" target="black"><i class="fa fa-github"></i></a></li>
                <li><a href="https://open.spotify.com/user/tgc7b789kq1f8ithpprfj4eli?si=76c9419c53ae4ebe"target="black"><i class="fa fa-spotify"></i></a></li>
            </ul>
        </div>
        <div class="w3hubs-nav">
            <ul>
                <li><a href="./">Sobre mi</a></li>
                <li><a href="#">Blog Personal</a></li>
                <p class="copyright">Karen Vargas © <script>document.write(new Date().getFullYear())</script></p>
            </ul>
        </div>
    </div>
</footer>

<script src="./../static/js/jquery-3.3.1.min.js"></script>
<script src="./../static/js/popper.min.js"></script>
<script src="./../static/js/bootstrap.min.js"></script>
<script src="./../static/js/jquery.sticky.js"></script>
<script src="./../static/js/main.js"></script>
<script src="../static/js/main.js"></script>



